// Access https://newsapi.org/ and register yourself for getting your NewsAPI key.
// Then, create a file '.env' and write the code above. 👇🏼
// After that, you can use this api key in the file 'components/NewsBoard.jsx'

VITE_API_KEY=your-api_key